{% extends "../base.html" %}

{% block title %}
FERME | {{ producto.nombre }}
{% endblock %}

{% block content %}
{% load humanize %}

<main class="pt-2">

    <div class="container" style="max-width: 1000px">
        <br>
        <br>
        <br>
        <div class="row g-3">
            <div class="col-12 d-flex justify-content-between">

            </div>

            <div class="col-md-5 ps-3 col-lg-5 order-md-last p-0 order-1">
                <div class="d-grid gap-2">

                    <div class="d-flex d-flex-inline justify-content-between">
                        <div><span class="h3">${{ producto.precio | intcomma }}</span>
                        </div>
                        <div class="">
                            <label for="select">Cantidad</label>
                            <select id="select" class="h6" style="width:50px;height:40px;">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                            </select>
                        </div>
                    </div>
                    <p>{{ producto.descripcion }}</p>
                    <hr>
                    <button type="button" id="add-button" value="{{producto.id}}" class="btn btn-success fw500">+ Agregar al carro</button>
                    <p id="message" class="text-danger d-none">No hay stock suficiente de este producto</p>
                </div>
            </div>
            <div class="col-md-7 col-lg-7 p-0">
                <div class="card mb-3 border-0">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-body p-1">
                                <h1 class="mb-0 h2 pe-4 pb-4">{{ producto.nombre }}</h1>
                                <p class="text-muted">COD: {{ producto.cod_prod }}</p>
                                <div class="bg-light"><img class="img-fluid mx-auto d-block" width="200px"
                                        alt="Responsive image" src="{{ producto.img.url }}"> </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    $(document).on('click', '#add-button', function (e) {
        e.preventDefault();
        let stock = '{{ producto.stock_actual }}';
        console.log(stock)
        let cantidad = $('#select option:selected').text();
        console.log(cantidad)
        if( parseInt(stock) >= parseInt(cantidad)) {
            let message = document.getElementById("message")
            message.classList.remove("d-inline")
            message.classList.add("d-none");
            $.ajax({
                type: 'POST',
                url: '{% url "ferme:carro_agregar" %}',
                data: {
                    productoid: $('#add-button').val(),
                    productocantidad: $('#select option:selected').text(),
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'post'
                },
                success: function (json) {
                    document.getElementById("basket-qty").innerHTML = json.cantidad
                },
                error: function (xhr, errmsg, err) {

                }
            });
        } else {
            let message = document.getElementById("message")
            message.classList.add("d-inline");
            message.classList.remove("d-none")
        }
    })
</script>

{% endblock %}