{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprobante</title>
    <style>
        .ml-600 {
            margin-left: 560px;
        }

        .ml-700 {
            margin-left: 590px;
        }

        .ml-500 {
            margin-left: 510px;
        }

        .ml-90 {
            margin-left: 90px;
        }
        .ml-60 {
            margin-left: 60px;
        }

        img {
            padding-left: 100px;
        }

    </style>
    
</head>
<body>
    <div class="container">
        <img src="C:\\portafolio\\static\\images\\banner.png" width="950px">
        <h1>Cliente: {{compra.nombre | title}} {{compra.apellido_paterno | title}}</h1>
        <h1>Rut empresa: {{factura.rut_empresa}}</h1>
        <h1>Nombre empresa: {{factura.nombre_empresa | title}}</h1>
        <h3>Fecha: {{nota.fecha}}</h3>
        <h3 class="ml-700">Factura Nro: {{factura.id}}</h3>
        <hr>
        <table style="width:100%">
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
            </tr>
        {% for detalle in detalles %}
            <tr>
                <td>{{detalle.producto.cod_prod}} </td>
                <td>{{detalle.producto.nombre}} </td>
                <td class="ml-90">{{detalle.cantidad}}</td>
                <td class="ml-60">${{detalle.precio}}</td>
            </tr>
        {% endfor %}
        </table>
        <hr>
        <h2 class="ml-600">Descuento IVA: ${{ iva }}</h2>
        <h2 class="ml-600">Total: ${{factura.total}}</h2>

        {% if factura.estado == 'ANULADA' %}
        <img src="C:\\portafolio\\static\\images\\cancelado.jpg" width="1000px">
        {% endif %}
        
    </div>
</body>
</html>